.app-container {
  width: 100%;
  height: 100%;
}

.main-content {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.main-content-visible {
  opacity: 1;
  transform: translateY(0);
}